# Neon PostgreSQL connection string
# Replace with your actual Neon DB connection string
DATABASE_URL=postgresql+asyncpg://user:password@your-neon-host.neon.tech/neondb?sslmode=require

# Frontend URL for CORS and invite links
FRONTEND_URL=http://localhost:3000

# Server config
APP_HOST=0.0.0.0
APP_PORT=8000

# Groq API Key for STT Whisper & LLM Summarization
GROQ_API_KEY=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

# SMTP settings (optional, will automatically fall back to local HTML reporting in workspace)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=zoom-scaleLabs
SMTP_PASSWORD=nari zntp rkbl aqel
SMTP_FROM=dhurvtiwari6@gmail.com

